img{
    max-width: 170px;
}

#boutique-fondant form{
    display: flex;
    flex-direction: column;
    max-width: 170px;
    align-items: center;

}

#boutique-fondant input[type="number"]{
    max-width: 50px;
    margin: 5px 0px;
}

#boutique-fondant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

h2{
    text-align: center;
}

#coffret-20{
    margin-top: 50px;
}

#coffret fieldset{
    margin-top: 15px;
    border: solid 1px  #DB9392;
}

legend{
    color: #882f2e;
}

#coffret input[type="submit"]{
    margin-top: 10px;
}

input[type="submit"]:hover{
    cursor: pointer;
}

