main{
    text-align: center;
    margin: 15%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15%;
    border-radius: 15px;
}

main p{
    margin-bottom: 50px;
}

a{
    color: #9c3d3c;
    font-weight: 700;
}