/* Toute les pages*/
body{
    color: black;
    background: url(../images/fond-diamants-rose.avif) fixed repeat;
    font-family: 'Dosis', sans-serif;
    padding: 1%;
}

h1{
    color: #B65F5D;
    font-family: 'Parisienne', cursive;
}

h2{
    color: #DB9392;
}

main a {
    text-decoration: none;
    color: #B86260;
}

/*Dynamique sur toute les page*/

a:hover{
    cursor:pointer;
}

main a:hover{
    color: #943D3B;
    font-weight:700;
}

/*Header*/

.logo-accueil{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border: solid #DB9392 1px;
    width: 15%;
    box-shadow:2px 2px 2px #B65F5D ;
}

header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    border-radius: 15px;
    box-shadow:2px 2px 2px #B65F5D;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    margin: 5px;
    width: 15%;
}

nav a{
    text-decoration: none;
    background-color: #DB9392;
    color: white;
    font-weight: 600;
    border-radius: 15px;
    padding:10px;
    text-align: center;
}

nav a:hover{
    background color: #B86260;
    box-shadow: inset 2px 2px 2px #943D3B;
}

/* Footer */
#lien-facebook, #lien-insta, #lien-mail{
    display: inline-block;
    width:50px;
    height:50px;
    margin-right: 10px;
}
#logo-couleur-facebook, #logo-couleur-insta, #logo-couleur-mail{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    z-index:0;
}
.logo-lien-nb {
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
}
#lien-facebook:hover  #logo-couleur-facebook,#lien-insta:hover  #logo-couleur-insta,#lien-mail:hover  #logo-couleur-mail{
    z-index:2;
}


/* Main */
section{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2%;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow:2px 2px 2px #DB9392;
}


/* Adaptation du design au écran de téléphone portable */

@media screen and (max-width:1200px){
/* Pour header */
    header{
        display:inline;
    }
    
    nav{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        width:80%;
    }

    header h1{
        text-align:center;    
    }
    
    nav a{
        width: 25%;
    }
/* Pour footer */
    
}
