body{
    color: black;
    background: url(../images/fond-diamants-rose.avif) fixed repeat;
    font-family: 'Dosis', sans-serif;
    padding: 1%;
}
a:hover{
    cursor:pointer;
}

main a {
    text-decoration: none;
    color: #B86260;
}

main a:hover{
    color: #943D3B;
    font-weight:700;
}

.logo-accueil{
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border: solid #DB9392 1px;
    width: 15%;
    box-shadow:2px 2px 2px #B65F5D ;
}

.lien-footer{
    display: inline-block;
    width:50px;
    height:50px;
    margin-right: 10px;
}

.logo-lien-nb, .logo-lien-couleur{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
}
.logo-lien-nb {
    z-order: 2;
}
.logo-lien-couleur{
    z-order:3;
}
.lien-footer:hover + .logo-lien-couleur{
    z-order:1;
}

h1{
    color: #B65F5D;
    font-family: 'Parisienne', cursive;
}

h2{
    color: #DB9392;
}

header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    border-radius: 15px;
    box-shadow:2px 2px 2px #B65F5D;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5px;
    margin: 5px;
    width: 15%;
}

nav a{
    text-decoration: none;
    background-color: #DB9392;
    color: white;
    font-weight: 600;
    border-radius: 15px;
    padding:10px;
    text-align: center;
}

nav a:hover{
    background color: #B86260;
    box-shadow: inset 2px 2px 2px #943D3B;
}

section{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2%;
    margin-top: 25px;
    border-radius: 15px;
    box-shadow:2px 2px 2px #DB9392;
}
